.button {
  padding: 0.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--content-100);
  border-radius: 0.25rem;
  border: 1px solid (--borders-100);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--base-200);
  min-width: 25px;
  min-height: 25px;
}

.button:hover {
  background: var(--hover-100);
}
