@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
   
    --color-base-100: 242deg 0% 100%;
    --color-base-200: 231deg 0% 96%;
    --color-base-300: 234deg 0% 93%;

    --color-content-100: 0deg 0% 5%;
    --color-content-200: 0deg 0% 20%;
    --color-content-300: 0deg 0% 25%;
    --color-content-400: 0deg 0% 50%;

    --color-outline: 227deg 100% 96%;
    --color-borders: 0deg, 0%, 5%, .1;
  }

  :root[data-mode="dark"] {
    --color-base-100: 0 0% 4%;
    --color-base-200: 0 0% 8%;
    --color-base-300: 0 0% 10%;

    --color-content-100: 0deg 0% 100%;
    --color-content-200: 0deg 0% 90%;
    --color-content-300: 0deg 0% 85%;
    --color-content-400: 0deg 0% 80%;

    --color-borders: 0deg, 0%, 40%, .2;
  }
}

:root {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  overflow-x: hidden;
  background: hsl(var(--color-base-100));
}

.card-gradient {
  background: radial-gradient(at top right, #eaedf0, #fafcff, #fff);
}

:root[data-mode="dark"] .card-gradient {
  background: radial-gradient(at top right, #18213c, #111620, #141414);
}

ul {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}

:focus-visible,
.focus-visible\:outline-none:focus-visible {
  outline: 3px solid #009dffc0;
}
